---
interface Props {
	idItem: number;
	title: string;
	description: string;
	link: string;
	github: string;
	tags: [string];
}
import Layout from "../layouts/Layout.astro";
import SectionContainer from "../components/SectionContainer.astro";
import "./goto.css"
---

<Layout
	title="LaSintonia"
	description="Contratame para construir soluciones"
>
	<main class="container">
		<SectionContainer id="about">
			<article class="container2">
				<img
				class="imgCamino"
				src="./camino.jpg" alt="hombrehaciaelfuturo" />
				<span
					class="texto"
				>
					Nuestra premisa, es construir un puente hacia el futuro sin
					olvidarnos del presente. Exponer una perspectiva de
					cuestionamiento y busqueda para la optimizacion personal
					abordando diversos temas de interes los cuales nos permitan
					conectar con el oyente, individuo cuyas caracteristicas son
					similares a las nuestras, personas normales que nos
					enfrentamos constantemente con la lucha cotidiana de
					superarnos a nosotros mismos para alcanzar el exito,
					entendiendo esto como vivir de la manera que quiero sin
					remordimiento alguno. Esperamos contribuir con quien busque
					nuestra compania de la manera mas eficiente y sin dejar de
					lado nuestras raices y valores los cuales nos posicionaron
					donde estamos hoy. Con las virtudes construidas y con los
					defectos asumidos para mejorarlos.
				</span>
			</article>
		</SectionContainer>
		<a
			class="fixed bottom-4 right-4 opacity-50 bg-gray-700 text-white px-4 py-2 rounded-lg shadow transition-colors hover:bg-yellow-200/50"
			href="#nav">Volver arriba</a
		>
	</main>
</Layout>
