---
interface Props {
	idItem: number;
	title: string;
	description: string;
	link: string;
	github: string;
	tags: [string];
}

import Layout from "../layouts/Layout.astro";
import SectionContainer from "../components/SectionContainer.astro";
import "./index.css";
import YoutubeButton from "../components/YoutubeButton.astro";
---

<Layout
	title="LaSintonia"
	description="Contratame para construir soluciones"
>
	<main class="container">
		<SectionContainer>
			<div class="divImg">
				<img src="/public/neon.svg" alt="linyefoto" />
			</div>
		</SectionContainer>
		<SectionContainer id="about">
			<h2 class="subtitulo1">
				UN ESPACIO PARA CONECTAR LA MENTE Y APAGAR EL RUIDO
			</h2>
			<h3 class="subtitulo2">
				Animate a cuestionar un poco y despertar el potencial dormido
			</h3>
			<div class="buttonYt">
				<YoutubeButton />
			</div>
		</SectionContainer>
		<a
			class="fixed bottom-4 right-4 opacity-50 bg-gray-700 text-white px-4 py-2 rounded-lg shadow transition-colors hover:bg-yellow-200/50"
			href="#nav">Volver arriba</a
		>
	</main>
</Layout>
