---
import "./about.css";
---

<article class="container">
    <img src="./linyeydemen.jpeg" alt="linyefoto" class="foto" />
    <span
        class="texto"
        >A modo de presentacion primero les contaremos algunas cosas sobre
        <span class="text-yellow-200/90">Nacho</span>.
        Se caracteriza por su gran lexico y conocimiento literario y fascinacion por el buen cine. Frecuenta regularmente el gimnasio para mantenerse activo tanto mental como fisicamente.
        esta siempre en busca de su mejor version y dispuesto a dejar todo para lograr sus objetivos.<br />
        <span class="text-yellow-200/90">Agustin</span> por su parte comparte muchas similitudes en cuanto a sus objetivos con Nacho y si bien le gustan los libros no son su fuerte.
        Le apasiona el ajedrez, el desarrollo web y actualmente se encuentra totalmente fuera de estado.

    </span>
</article>
