---
import "./footer.css"
---

<footer class= "container" id="footer">
            <div class="containersub">
                <div class="divContainer">
                    <span
                        class="mb-6 text-sm font-semibold text-white-900 uppercase dark:text-white"
                    >
                        Seguinos en nuestras redes
                    </span>
                    <ul class="text-gray-500 dark:text-gray-400 font-medium mt-4">
                        <li class="mb-4">
                            <a
                                href="https://www.youtube.com/@lasintoniacanal"
                                class="hover:underline">Youtube</a
                            >
                        </li>
                        <li class="mb-4">
                            <a
                                href="https://github.com/agustinhahn"
                                class="hover:underline">Github</a
                            >
                        </li>
                        <li>
                            <a
                                href="https://www.linkedin.com/in/agustin-hahn-766b98183/"
                                class="hover:underline">LinkedIn</a
                            >
                        </li>
                    </ul>
                </div>
                <div class="divContainer">
                    <span
                        class="mb-6 text-sm font-semibold text-white-900 uppercase dark:text-white"
                    >
                        CONTACTO
                    </span>
                    <ul class="text-gray-500 dark:text-gray-400 font-medium mt-4">
                        <li class="mb-4">
                            <a href="#" class="hover:underline"
                                >laSintonia@gmail.com</a
                            >
                        </li>
                        <li class="mb-4">
                            <a href="#" class="hover:underline"
                                >+543416524078</a
                            >
                        </li>
                    </ul>
                </div>
                <div class="divContainer">
                    <span
                        class="mb-6 text-sm font-semibold text-white-900 uppercase dark:text-white"
                    >
                        Legal
                    </span>
                    <ul class="text-gray-500 dark:text-gray-400 font-medium mt-4">
                        <li class="mb-4">
                            <a href="#" class="hover:underline"
                                >Privacy Policy</a
                            >
                        </li>
                        <li>
                            <a href="#" class="hover:underline"
                                >Terms &amp; Conditions</a
                            >
                        </li>
                    </ul>
                </div>
            </div>
            <div class="derechos">
                <span
                    class="text-sm text-gray-500 sm:text-center dark:text-gray-400"
                    >© 2024 <a href="https://flowbite.com/" class="hover:underline"
                        >H-code™</a
                    >. Almost all rights reserved.
                </span>
            </div>
</footer>
